<h1><%= @question.title %></h1>
<h2>author: <%= @question.user.username %></h2>
<p><%= @question.body %></p>
<p><%= @question.created_at %></p>

<h3>Question Votes: <%= @question.votes.count %></h3>

<% @question.answers.each do |answer| %>
  <p><%= answer.body %></p>
  <p><%= answer.created_at %></p>
  <p>Answer Votes: <%= answer.votes.count %></p>
<% end %>

<%= link_to "New Answer", new_question_answer_path(@question) %>
